.thememixfc-widget-body {
    overflow: hidden;
}

.thememixfc-left-box,
.thememixfc-right-box {
    width: 250px;
}

.thememixfc-left-box{
    float: left;
}

.thememixfc-right-box{
    float: right;
}

.thememixfc-box,
.thememixfc-box p,
.thememixfc-box div,
.thememixfc-box label {
    background: #f1f1f1;
}

.thememixfc-box {
    border: 1px solid #DDD;
    margin-bottom: 10px;
    padding: 10px 10px 0;
}

.thememixfc-box div {
    margin: 0 0 1em;
}

.page_select select,
.select select,
.thememixfc-box select {
    max-width: 228px;
}

.thememixfc-box input[type=checkbox] {
    margin-right: 5px;
}

.gs-pad-left-10 {
    padding-left: 10px;
}

.gs-pad-right-10,
.gs-tax-optgroup,
.gs-tax-opt {
    padding-right: 10px;
}

.gs-tax-optgroup {
    margin-left: 5px;
}

.gs-tax-opt {
    margin-left: 8px;
}

.gs-widefat {
    width:95%;
}

.thememixfc-small {
    width: 40px;
}